@import "tailwindcss";
html,
body {
  min-height: 100vh;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  --header-footer-col: rgb(181, 190, 247);
  flex: 1;
  display: flex;
  flex-direction: column;
}
